h1 {
    color: #004d40;
    background-color: #c8e6c9;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

h2.subtitulo {
    color: #1565c0;
    background-color: #e3f2fd;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

h3 {
    color: #2e7d32;
    text-align: center;
    margin-top: 15px;
}

p {
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}
