div p {
    color: purple;
    background-color: lightblue;
    text-align: center;
}
h1 {
    color: blue;
    background-color: yellow;
    text-align: center;
}
ul > li{
    color: green;
    background-color: lightgray;
    text-align: center;
}
a:hover {
    color: red;
    text-decoration: underline;
}
input[type="text"] {
    border: 2px solid blue;
    padding: 5px;
}