.fondo{
    color:aliceblue;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: aqua;
    padding: 200px;
    opacity: 0.9;
    text-align: center;
    font-size: 200px;
}