body {
    height: 100vh;
    position: relative;
    font-family: Arial, sans-serif;
}

.estatico {
    position: static;
    background-color: #c8e6c9;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.relativo {
    position: relative;
    background-color: #e8f5e9;
    padding: 10px;
    top: 50px;
    left: 50px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.fijo {
    position: fixed;
    background-color: #004d40;
    color: white;
    padding: 20px;
    bottom: 20px;
    right: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}
