.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #004d40;
    padding: 10px;  
    gap: 10px;
    background-color: #e8f5e9;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item {
    background-color: #c8e6c9;    
    padding: 20px;
    border: 2px solid #2e7d32;
    flex: 1 1 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.item_especial {
    align-self: flex-start;
    background-color: #1565c0;
    color: white;
    padding: 20px;
    border: 2px solid #0d47a1;
    flex: 2 1 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}
