.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    background-color: #e8f5e9;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
}

.item {
    background-color: #c8e6c9;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 3px solid #2e7d32;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 18px;
}
