.boton { 
    background-color: #004d40; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer; 
    font-weight: bold;
    border-radius: 8px;
}

.boton:hover {
    background-color: #c8e6c9;
    color: #004d40; 
    border: 2px solid #004d40;
    transform: scale(1.1);
}
