@keyframes mover {
    0% { transform: translateX(0); background-color: lightcoral; }
    50% { transform: translateX(100px); background-color: lightblue; }
    100% { transform: translateX(0); background-color: lightcoral; }
}

.caja {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    animation: mover 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-radius: 8px;
}
.caja2 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    animation: mover 3s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-radius: 8px;
}